.img-container img{
    height: 30%;
    width: 30%;
};

.img-container{
    width: 30%;
}

.card {
    border-radius: 2px;
    height: 30%;
    margin-top: 10px;
    position: relative;
    justify-content: flex-start;
    width: 30%;
    overflow: hidden;
  }